
<div class="about">
<p> Welcome to the world of wellness. This is a place for you to relax, heal and restore your balance. We are privileged to offer the following therapies to help you be in sync.

</div>
  

<% @therapies.each do |therapy| %>
  <div class="booyah-box col-10 offset-1">
    <h3><%= therapy.name %></h3><br />
    <p><%= therapy.description %></p>
  </div>

  
  <% end %>
